/************* General App Styling *************/
.app {
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  text-align: center;
}

.loader {
  margin: auto;
  margin-top: 2.5%;
  border: 5px solid lightgrey;
  border-top: 5px solid blue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.caption {
  display: block;
  background-color: black;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

/************* Text Bubble Styling *************/
.textBubble {
  color: white;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: fit-content;
  display: inline-block;
  background-color: #575050;
  border-radius: 15px;
  position: relative;
}

.textBubbleText {
  margin: auto;
  padding: 10px;
  color: white;
  display: block;
  
}

/************* User Card Styling *************/
.userCard {
  background: #575050;
  margin-top: 1% !important;
  margin: auto;
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: 25% 50% 25%;
  color: white;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  animation-name: userCardFadeIn;
  animation-duration: 2s;
}

.userNameAvatarRankContainer {
  margin-bottom: 3%;
}

.avatarAndRankGridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 200px;
  justify-content: center;
}

.rankGridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px;
  justify-content: center;
}

.userCardDataGridContainer{
  grid-row-gap: 25%;
  margin-bottom: 2%;
}

.opInfoContainer {
  position: absolute;
  background: #333333;
  border-radius: 15px;
  z-index: 1;
  text-align: center;
  justify-content: center;
  width: 13%;
  height: 5%;
}

.opDataGridContainer {
  margin-top: 3.5%;
  grid-row-gap: 30%;
}

.dataGridContainer, .userCardDataGridContainer, .opDataGridContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  justify-content: center;
}

@media (max-width: 2100px) {
  .opTile {
    display: none;
  }
  .userCard {
    margin-top: 1% !important;
    margin: auto;
    display: grid;
    width: 65%;
    height: 600px;
    grid-template-columns: 100%;
    color: white;
    border: 1px solid #575050;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    animation-name: userCardFadeIn;
    animation-duration: 2s;
  }
}

@keyframes userCardFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.userRankLabel {
  color: white;
  text-align: center;
  position: absolute;
  width: 146px;
  margin-bottom: 20px;
}

.userRank {
  margin-top: 2%;
}

/************* Favorite Operator Stlying *************/
@keyframes opBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opTile {
  text-align: center;
  margin-top: 5%;
  width: 100%;
  height: 41%;
}

.opTileTitle {
  text-align: center;
  width: 100%;
}

@keyframes attackOpAnimation {
  0% {
    opacity: 0;
    transform: translateX(-125px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.attacker {
  animation-name: attackOpAnimation;
  animation-duration: 1s;
}

@keyframes defenseOpAnimation {
  0% {
    opacity: 0;
    transform: translateX(125px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.defender {
  animation-name: defenseOpAnimation;
  animation-duration: 1s;
}

/************* User Card Compare Styling *************/
.userCardCompareFadeInLeft .userCardCompareFadeInRight {
  margin-top: 2% !important;
  margin: auto;
  width: 100%;
  height: 600px;
  color: white;
  background-color: #575050;
  border-radius: 15px; 
  justify-content: center;
  text-align: center;
}

.userCardCompareFadeInLeft {
  animation-name: userCardMoveFromLeft;
  animation-duration: 2s;
}

@keyframes userCardMoveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.userCardCompareFadeInRight {
  animation-name: userCardMoveFromRight;
  animation-duration: 2s;
}

@keyframes userCardMoveFromRight {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.userCardCompareGrid {
  margin-top: 2% !important;
  margin: auto;
  display: grid;  
  width: fit-content;
  height: 600px;
  background-color: #575050;
  color: white;
  border-radius: 15px;
  grid-template-columns: 40% 20% 40%;
  justify-content: center;
  text-align: center;
}

.userComparisonStatGrid {
  display: grid;  
  grid-template-columns: 100%;
  grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
  width: 100%;
  animation-name: userComparisonStatGridAnimation;
  animation-duration: 2s;
}

@keyframes userComparisonStatGridAnimation {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.userDataGreen {
  background-color: green;
}

.userDataRed {
  background-color: red;
}

.userDataBlack {
  background-color: black;
}

.userDataGreen, .userDataRed, .userDataBlack {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 75%;
  color: white;
  height: 50%;
}